<div class="card">
    <div class="card-header">
        {{ pageTitle }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-1">
                Filter By:
            </div>
            <div class="col-md-3">
                <input type="text" 
                [(ngModel)] = 'listFilter'/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>
                    Filtered By: {{ listFilter }}
                </h5>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table"
            *ngIf = 'movies && movies.length'>
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" 
                            (click) = 'toggleImage()'>
                               {{ showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor= 'let movie of movies'>
                        <td>
                            <img 
                            *ngIf = 'showImage'
                            [src] = 'movie.imageUrl' 
                            [title] = 'movie.movieName' 
                            [style.width.px] = 'imageWidth'
                            [style.width.margin] = 'imageMargin'
                            >
                        </td>
                         <td> {{ movie.movieName}}</td>
                         <td> {{ movie.movieCode | lowercase | convertToSpaces:'-' }}</td>
                         <td> {{ movie.releaseDate}}</td>
                         <td> {{ movie.price | currency:  'USD' : 'symbol': '1.2-2'}}</td>
                         <td> {{ movie.starRating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>