<div class="card">
    <div class="card-header">
        {{ pageTitle }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                Filter By:
            </div>
            <div class="col-md-3">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>
                    Filtered By:
                </h4>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table"
            *ngIf = 'movies && movies.length'>
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary">
                                Show Image
                            </button>
                        </th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor= 'let movie of movies'>
                        <td></td>
                         <td> {{ movie.movieName}}</td>
                         <td> {{ movie.movieCode}}</td>
                         <td> {{ movie.releaseDate}}</td>
                         <td> {{ movie.price}}</td>
                         <td> {{ movie.starRating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>